.app-button-component {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.325);
}

.app-button-component:hover {
  background-color: #128C7E;
  /* font-weight: bold; */
}
