body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #075e54;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #128c7e;
}
